.DS_Store
*.swp
*~
build/
DerivedData/
*.hmap
*.ipa
*.xcarchive
*.xcuserstate
*.xcworkspace
xcuserdata/
*.xcuserdatad/
*.xcconfig
xcshareddata/
*.xcscheme
TrendFlicks/TrendFlicks/Resources/TMDB-Info.plist
